MYSQL_ROOT_PASSWORD=root123
MYSQL_DATABASE=awesome_project
MYSQL_USER=app
MYSQL_PASSWORD=app123
MYSQL_DSN=app:app123@tcp(127.0.0.1:13306)/awesome_project?charset=utf8mb4&parseTime=true&loc=Asia%2FShanghai